:root{
    --rouge:  #D20024;
    --bleuNoir: #1E1F29;
    --blanc: #fff;
    --gris: gray;
    --gris_transparent: rgba(128, 128, 128, 0.248);
}
*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* navigateur */
.nav{
    background-color:  var(--bleuNoir);
    padding: 0.010rem 5rem;
    color: var(--blanc);
    border-bottom: 0.09rem solid var(--rouge);
}
.nav_header{
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.6rem;
    padding-left: 3rem;
}
.icons > span:nth-child(4){
   margin-right: 1rem;
}
.icons > span:nth-child(2){
   margin-right: 1rem;
}
.account_info{
    margin-right: 3rem;
}
.account_info > span:nth-child(2){
    margin-right: 1rem;
}
.icon{
    color: var(--rouge);
}
.dot{
    color:  var(--rouge);
}
.nav_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.input_area{
    display: flex;
}
.no_write{
    outline: none;
    border: none;
    height: 2rem;
    border-top-left-radius: 0.9rem;
    border-bottom-left-radius: 0.9rem;
    padding-left: 0.6rem;
}
.write{
    outline: none;
    border: none;

    height: 2rem;
    width: 15rem;
}
.search_button{
    background-color: var(--rouge);
    position: relative;
    right: 3rem;
    text-align: center;
    border-top-right-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.heart{
    text-align: center;
    cursor: pointer;
}
.heart > div{
    font-size: 0.5rem;
}
.shopping{
    text-align: center;
    cursor: pointer;
}
.shopping > div{
    font-size: 0.5rem;
}
.number{
    background-color: red;
    border-radius: 50%;
    font-size: 0.7rem;
    display: inline-block;
    width: 0.7rem;
    position: relative;
    bottom: 0.5rem;
    right: 0.4rem;
    font-weight: normal;
}
/* the real navbar with home, hot deal etc... */
.real_navbar{
    border-bottom: 0.09rem solid var(--bleuNoir);
}
.nav_list{
    display: flex;
    padding-left: 7.5rem;
}
.nav_list> .nav_item{
    margin: 0.5rem;
    font-size: 0.8rem;
}
.nav_list> .nav_item:hover{
    color: var(--rouge);
    text-decoration: underline var(--rouge) 0.09rem;
    cursor: pointer;
}
/* Le body contenant les images */
.product_container{
    margin: 0rem 8rem ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product_container > .img_container{
    margin-top: 1rem;
}
/* LA partie New Product avec un petit menu a droite */
.product{
    display: flex;
    justify-content: space-between;
    margin:0rem 8rem ;
}
.product_nav{
    display: flex;
    margin: 0.5 3rem;
    font-size: 0.8rem;
    align-items: center;
}
.product_nav > .product_nav_item{
    margin: 0.5rem;
    font-size: 0.8rem;
}
.product_nav > .product_nav_item:hover{
    color: var(--rouge);
    text-decoration: underline var(--rouge) 0.09rem;
    cursor: pointer;
}
/* la partie des nouveaux produits avec les 4 elements */
.new_products_container{
    margin: 0rem 8rem ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 1s ease;
}
.new_img_container{
    height: 21rem;
    border: 0.1rem solid var(--gris_transparent);
    transition: all 1s ease;
    padding-top: 0rem;
}
.new_img_container:hover{
    transition: all 1s ease;
    transform: scale(1.1);
}
.categories{
    text-align: center;
    font-size: 0.5rem;
    margin-top: 2rem;
}
.product_name{
    text-align: center;
    font-size: 0.8rem;
    margin-top: 1rem;
}
.promo_price{
    font-size: 0.8rem;
    text-align: center;
    color: var(--rouge);
    margin-top: 0.5rem;
}
.sale_price{
    font-size: 0.6rem;
    color: var(--gris);
}
.rating{
    text-align: center;

}
.rating > i{
    color: var(--rouge);
    margin-top: 1rem;
}
.rating_container{
    display: flex;
    justify-content: space-around;
}
.dashed{
    margin-top: 1rem;
    font-size: .6rem;
    text-decoration: underline;
}
.product_footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
}
.product_footer > i{
    margin:  1rem;
    cursor: pointer;
    
}
.product_footer > i:hover{
    color: var(--rouge);
}
.new_img_container_header{
    margin: 0.5rem ;
    display: flex;
    justify-content: end;
}
.sale{
    border: 0.0625rem solid  var(--rouge);
    color: var(--rouge);
    font-size: 0.6rem;
    padding: 0.3rem 0.5rem;
    margin-right: 0.4rem;
}
.new{
    background-color: var(--rouge);
    color: var(--blanc);
    font-size: 0.6rem;
    padding: 0.3rem 0.5rem;
}
.img_container1{
    margin-top: 1rem;
    height: 10rem;
    width: 15rem;
    border-right: 12.5rem solid transparent;
    border-top: 9.375rem solid rgba(161, 161, 161, 0.478) ;
    background-repeat: no-repeat;
    background-size: 19rem 11rem;
    color: black;
    transition: all ease 1s;
}
.img_container1:hover{
    border-top: 9.375rem solid rgba(235, 47, 47, 0.899); 
    transition: all ease 1s;
    color: white;
}
.trapez{
    position: relative;
    bottom: 12.9rem;
    z-index: -1;
}
.text_trasparent{
    position: relative;
    top: -9rem;
    left: 2rem;
    font-weight: bold;
}
.shop{
    font-size: 0.8rem;
    display: flex;
    cursor: pointer;
}
/* =============MOBILE=================== */
@media (max-width: 676px){

    .icons{
        display: block;
    }
    .account_info{
        display: block;
    }
   .nav_container{
    display: flex;
    flex-wrap: wrap;
   }
}
/* ===============TABLETTES=============== */
@media (max-width: 1026px) and (min-width:676px){
    *{
        color: yellow;
    }
    .nav{
        width: 70rem;
    }
    .real_navbar{
        width: 70rem;
    }
}