*{
    color: white;
}
button{
    border: none;
    height: 2em;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
}
.notif_green{
    background-color: rgb(58, 194, 58);
}
.notif_red{
    background-color: rgb(241, 33, 33);
}
.notif_yellow{
    background-color: rgb(247, 206, 22);
}
.notif_blue{
    background-color: rgb(38, 49, 200);
}
.notif_qui_bouge_du_bas{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 10%;
    height: 2em;
    z-index: 100;
    text-align: center;
    font-weight: bold;
    padding-top: 0.5em;
    animation: notif_qui_bouge_du_bas 10s;
    border: 3px solid black;
    margin-right: 1em;
    transition: all 1s ease
}
/* le truc  doit partir de la droite et se deplacer vers la gauche  remonte et disparait progressivement*/
@keyframes notif_qui_bouge_du_bas{
    0%{
        right: 0;
        bottom: 0;
        opacity: 1;
    }
    100%{
        right: 0%;
        bottom: 100%;
        opacity: 0;
    }
}