*{
    margin: 0;
    padding: 0;
}
.container{
    padding-top: 1vh;
    background-color: rgb(0, 234, 255);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.header{
    display: flex;
    justify-content: end;
    padding: 0.5em 1em;
    background-color: rgb(0, 234, 255);
}
.add{
    background-color: rgb(174, 233, 86);
    color: white;
    border: none;
    height: 2em;
    border-radius: 0.5em;
    width: 6em;
    cursor: pointer;
}
.box{
    height: 30em;
    width: 30em;
    margin-right: 1em;
}
.box_header{
    background-color:  rgb(174, 233, 86) ;
    display: flex;
    justify-content: end;
    padding: 0.5em;
    color:  white;
    margin-left: 1em;
    width: 29em;
}
.edit {
    margin-right: 1em;
}
.note{
    margin-right: 7rem;
}
.box_container{
    margin-left: 1em;
}
.edit , .trash{
    cursor: pointer;
    font-size: 1.3rem;
}
.textarea{
    resize: none;
}
textarea:focus{
    outline: none;
}
